# ===============================
# Python
# ===============================
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Virtual Environments
**/env/
**/venv/

# Django
**/db.sqlite3
**/media/

# Environment Variables
**/.env
.env

# ===============================
# Node / React
# ===============================
**/node_modules/
**/dist/
**/.vite/

# ===============================
# Editors
# ===============================
.vscode/
.idea/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db